<!DOCTYPE html>
<html lang="en">

<head th:replace="admin/shared/head ::head">
    <title>Library Management</title>
</head>
<body>
<div th:replace="/admin/shared/header::header"></div>
<div th:replace="/admin/shared/sidebar::sidebar"></div>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Gestion des categories</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">categories</li>
                <li class="breadcrumb-item active">Listes des categories</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div class="row">
            <div class="col">
                <div th:if="${message}" class="alert alert-success" role="alert">
                    <span th:text="${message}"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col ">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Liste des categories</h5>
                        <a href="/admin/categorie/add" class="btn btn-primary mb-3">
                            <i class="bi bi-plus-lg me-2"></i>
                            Ajouter une categorie</a>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Nom </th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody th:if="${categories.isEmpty()}">
                            <tr>
                                <td colspan="2">Aucune categorie en base de données</td>
                            </tr>
                            </tbody>
                            <tbody th:unless="${categories.isEmpty()}">
                            <tr th:each="categorie : ${categories}">
                                <td th:text="${categorie.nom}"></td>
                                <td>
                                    <a th:href="@{/admin/categorie/{id}(id=${categorie.id})}" class="btn btn-info"><i class="bi bi-eye"></i></a>
                                    <a th:href="@{/admin/categorie/{id}/update(id=${categorie.id})}" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a>
                                    <a th:href="@{/admin/categorie/{id}/delete(id=${categorie.id})}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                                </td>
                            </tr>

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--        pagination &ndash;&gt;-->
        <div class="row">
            <div class="col-4 mx-auto">
                <nav aria-label="Page navigation">
                    <ul class="pagination ">
                        <li th:each="i : ${#numbers.sequence(1, totalPages)}" th:classappend="${i == currentPage} ? 'active' : ''" class="page-item">
                            <a th:href="@{/admin/categories(pageNo=${i})}" class="page-link" th:text="${i}"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Library Management System</span></strong>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>

</body>

</html>