<!DOCTYPE html>
<html lang="en">

<head th:replace="admin/shared/head ::head">
    <title>Library Management</title>
</head>
<body>
<div th:replace="/admin/shared/header::header"></div>
<div th:replace="/admin/shared/sidebar::sidebar"></div>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <div class="col">
                <div class="row">
                    <!-- Livres Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card livres-card">
                            <div class="card-body">
                                <h5 class="card-title">Livres <span>| Today</span></h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-book"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 th:text="${livresCount}">
                                            Chargement...
                                        </h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Livres Card -->

                    <!-- Utilisateur Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card utilisateur-card">

                            

                            <div class="card-body">
                                <h5 class="card-title">Utilisateurs <span>| Today</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-person"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 th:text="${utilisateursCount}">
                                            Chargement...
                                        </h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Utilisateur Card -->
                    <!-- Utilisateur Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card utilisateur-card">

                            

                            <div class="card-body">
                                <h5 class="card-title">Administrateur <span>| Today</span></h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-person"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 th:text="${administrateursCount}">
                                            Chargement...
                                        </h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Utilisateur Card -->
                    <!-- Emprunt Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card emprunt-card">

                            

                            <div class="card-body">
                                <h5 class="card-title">Emprunts <span>| Today</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-bookmark-check"></i>
                                    </div>
                                    <div class="ps-3" >
                                        <h6 th:text="${empruntsCount} ">
                                            Chargement...
                                        </h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div><!-- End Emprunt Card -->

                    <!-- Retard Card -->
                    <div class="col-xxl-4 col-xl-12">

                        <div class="card info-card retard-card">

                            

                            <div class="card-body">
                                <h5 class="card-title">Retards <span>| This Year</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-clock"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6 th:text="${retardsCount}">
                                            Chargement...
                                        </h6>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div><!-- End Retard Card -->

                    <!-- Recent Emprunt -->
                    <div class="col-12">
                        <div class="card recent-emprunt overflow-auto">
                            <div class="card-body">
                                <h5 class="card-title">Recent Emprunt <span>| Today</span></h5>
                                <table class="table table-borderless datatable">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">User</th>
                                        <th scope="col">Book</th>
                                        <th scope="col">Date</th>

                                    </tr>
                                    </thead>
                                    <tbody th:if="${recentEmprunts.size() > 0}">
                                    <!-- Utiliser Thymeleaf pour itérer sur les trois derniers emprunts -->
                                    <tr th:each="emprunt : ${recentEmprunts}">
                                        <th scope="row"><a th:href="@{'/emprunt/' + ${emprunt.id}}">#<span th:text="${emprunt.id}"></span></a></th>
                                        <td th:text="${emprunt.getUtilisateur().getFullName()}"></td>
                                        <td><a href="#" class="text-primary" th:text="${emprunt.getLivre().getTitre()}"></a></td>
                                        <td>
                                            <span class="badge bg-success" th:th="${emprunt.getDateEmprunt().toString()}">dateEmprunt</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tbody th:if="${recentEmprunts.size() == 0}">
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            Pas d'emprunt récent
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div><!-- End Recent Emprunt -->

                </div>
            </div><!-- End Left side columns -->

        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Library Management System</span></strong>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>

</body>

</html>