<!DOCTYPE html>
<html lang="en">

<head th:replace="admin/shared/head ::head">
    <title>Library Management</title>
</head>
<body>
<div th:replace="/admin/shared/header::header"></div>
<div th:replace="/admin/shared/sidebar::sidebar"></div>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Form Elements</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Emprunt</li>
                <li class="breadcrumb-item active">Emprunter un livre</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col">
                <a th:href="@{/admin/emprunt/users(livreId=${empruntDetails.getLivre().getId()})}" class="btn btn-primary">
                    <i class="bi bi-arrow-left me-2"></i>
                    Retour
                </a>
            </div>
        </div>
        <div class="row">
            <div class="container">
                    <form method="post" th:action="@{/admin/emprunt/add}" >
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title">Détails de l'Emprunt</h5>
                            </div>
                            <div class="card-body">
                                    <div class="row">
                                    <div class="col-md-6">
<!--                                        <p><strong>Titre du Livre :</strong> <span th:text="${empruntDetails.titreLivre}">Titre du livre</span></p>-->
<!--                                        <p><strong>Auteur :</strong> <span th:text="${empruntDetails.auteurLivre}">Auteur</span></p>-->
<!--                                        <p><strong>ISBN:</strong> <span th:text="${empruntDetails.isbnLivre}">ISBN</span></p>-->
<!--                                        <p><strong>Catégorie :</strong> <span th:text="${empruntDetails.categorieLivre}">Catégorie</span></p>-->
<!--                                        <p><strong>Editeur :</strong> <span th:text="${empruntDetails.editeurLivre}">Editeur</span></p>-->
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <strong>Adhérent :</strong>
                                            <span th:text="${empruntDetails.getUtilisateur().getFullName()}"></span>
                                        </p>
                                        <p>
                                            <strong>Date d'emprunt:</strong> <span th:text="${empruntDetails.getDateEmprunt()}"></span>
                                        </p>
                                        <p>
                                            <strong>Date de retour prévue :</strong> <span th:text="${empruntDetails.getDateRetourPrevue()}"></span>
                                        </p>
                                    </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary">Confirmer</button>
                                            <a href="/admin/emprunt/livres" class="btn btn-secondary">Annuler</a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Library Management System</span></strong>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>

</body>

</html>