<!DOCTYPE html>
<html lang="en">

<head th:replace="admin/shared/head ::head">
    <title>Library Management</title>
</head>
<body>
<div th:replace="/admin/shared/header::header"></div>
<div th:replace="/admin/shared/sidebar::sidebar"></div>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Gestion des livres</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Livres</li>
                <li class="breadcrumb-item active">Ajouter un livres</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="container mt-5">
            <div th:if="${success}" class="alert alert-success" role="alert">
                <h4 class="alert-heading">
                    Error lors d'ajout du livre
                </h4>
            </div>
            <div class="text-center mt-3">
                <a th:href="@{/admin/livres}" class="btn btn-primary mx-2">Retourner à la Liste</a>
                <a th:href="@{/admin/livres/add}" class="btn btn-secondary mx-2">Ajouter un Autre Livre</a>
            </div>
        </div>
    </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Library Management System</span></strong>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
<script th:src="@{/assets/js/main.js}"></script>
<!-- JavaScript pour afficher le formulaire de nouvelle catégorie si nécessaire -->
</body>

</html>