<!DOCTYPE html>
<html lang="en">

<head th:replace="admin/shared/head ::head">
    <title>Library Management</title>
</head>
<body>
<div th:replace="/admin/shared/header::header"></div>
<div th:replace="/admin/shared/sidebar::sidebar"></div>
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Gestion des livres</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Livres</li>
                <li class="breadcrumb-item active">Listes des livres</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Liste des Livres</h5>
                        <a href="/admin/livres/add" class="btn btn-primary mb-3">Ajouter un Livre</a>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Auteur</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody th:if="${livres.isEmpty()}">
                            <tr>
                                <td colspan="3">Aucun livre en base de données</td>
                            </tr>
                            </tbody>
                            <tbody th:unless="${livres.isEmpty()}">
                            <tr th:each="livre : ${livres}">
                                <td th:text="${livre.getTitre()}"></td>
                                <td th:text="${livre.getAuteur().getNomComplet()}"></td>
                                <td>
<!--                                    "@{/livres/{id}(id=${livre.id})}"-->
                                    <a th:href="@{/admin/livre/{id}(id=${livre.id})}" class="btn btn-info"><i class="bi bi-eye"></i></a>
                                    <a th:href="@{/admin/livre/{id}/update(id=${livre.id})}" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a>
                                    <a th:href="@{/admin/livre/{id}/delete(id=${livre.id})}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                                </td>
                            </tr>

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Library Management System</span></strong>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>

</body>

</html>