<!DOCTYPE html>
<html lang="en">
<head th:replace="admin/shared/head ::head"></head>
<body>
<div th:replace="/admin/shared/header::header"></div>
<div th:replace="/admin/shared/sidebar::sidebar"></div>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Gestion des livres</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Livres</li>
                <li class="breadcrumb-item active">Ajouter un livres</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col">
                <a href="/admin/livres" class="btn btn-primary mb-3">
                    <i class="bi bi-arrow-left"></i> Retour
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ajouter un Nouveau Livre</h5>
                        <div th:if="${message}" class="alert alert-success alert-dismissible fade show" role="alert">
                            <span th:text="${message}"></span>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        <form method="POST" th:action="@{/admin/livres/add}"  class="row g-3" th:object="${livreDetails}" enctype="multipart/form-data">
                            <div class="col-md-6 mb-3">
                                <label for="isbn" class="form-label">ISBN</label>
                                <input type="text" class="form-control" id="isbn" name="isbn" required th:field="*{isbn}">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="titre" class="form-label">Titre</label>
                                <input type="text" class="form-control" id="titre" name="titre" required th:field="*{titre}">
                            </div>
                            <div class="col-12 mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" id="description" name="description" rows="3"
                                            required th:field="*{description}"
                                ></textarea>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="nbPages" class="form-label">Nombre de Pages</label>
                                <input type="number" class="form-control" id="nbPages" name="nbPages" required
                                        th:field="*{nbPages}"  min="1" >
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="nbExemplaire" class="form-label">Nombre de exemplaires</label>
                                <input type="number" class="form-control" id="nbExemplaire" name="nbExemplaire" required
                                       th:field="*{nbExemplaires}" value="1" min="1" >
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="datePublication" class="form-label">Date de Publication</label>
<!--                                defaultdate today-->
                                <input type="date" class="form-control" id="datePublication" name="datePublication" required
                                        th:field="*{datePublication}"
                                >
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="editeur" class="form-label">Editeur</label>
                                <input type="text" class="form-control" id="editeur" name="editeur" required
                                        th:field="*{editeur}"
                                >
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="langue" class="form-label">Langue</label>
                                <input type="text" class="form-control" id="langue" name="langue" required
                                        th:field="*{langue}"
                                >
                            </div>
<!--                            <div class="col-md-6 mb-3">-->
<!--                                <label for="categorie" class="form-label">Catégorie</label>-->
<!--                                <input type="text" class="form-control" id="categorie" name="categorie">-->
<!--                            </div>-->

                            <div class="col-md-6 mb-3">
                                <div class="row">
                                    <div class="col">
                                        <label for="auteur" class="form-label">Auteur</label>
                                        <select class="form-select" id="auteur" name="auteur" th:field="*{auteur}" required>
                                            <option value="">Sélectionner un auteur</option>
                                            <option th:each="auteur : ${auteurs}" th:value="${auteur.id}" th:text="${auteur.nom}"></option>
                                            <option value="new">Créer un nouvel auteur</option>
                                        </select>
                                    </div>
                                    <div class="col-12" >
                                        <div id="new-author-form" style="display: none;">
                                            <label for="new-author" class="form-label">Nouvel Auteur</label>
                                            <input type="text" class="form-control" id="new-author" name="new-author"   th:field="*{newAuteur}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Sélection de la catégorie -->
                            <div class="col-md-6 mb-3">
                                <div class="row">
                                    <div class="col">
                                        <label for="categorie" class="form-label">Catégorie</label>
                                        <select class="form-select" id="categorie" name="categorie" th:field="*{categorie}" required>
                                            <option value="">Sélectionner une catégorie...</option>
                                            <option th:each="categorie : ${categories}" th:value="${categorie.id}" th:text="${categorie.nom}"></option>
                                            <option value="new">Créer une nouvelle catégorie</option>
                                        </select>
                                    </div>
                                    <div class="col-12" >
                                        <div id="new-form-categorie" style="display: none;" >
                                            <label for="new" class="form-label">Nouvelle Catégorie</label>
                                            <input type="text" class="form-control" id="new" name="new"   th:field="*{newCategorie}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="image" class="form-label">Image du Livre</label>
                                <input type="file" class="form-control" id="image" name="file"  accept="image/*">
                                <img id="imagePreview" src="#" alt="Preview" style="display: none; max-width: 100px; max-height: 100px; margin-top: 10px;">
                            </div>
                             <div class="col-12">
                                <button type="submit" class="btn btn-primary"
                                >
                                    <i class="bi bi-save"></i>
                                    Ajouter le Livre</button>
                                 <a href="/admin/livres" class="btn btn-secondary">
                                     <i class="bi bi-arrow-counterclockwise"></i>
                                     Annuler</a>
                             </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Library Management System</span></strong>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script
        src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
<script th:src="@{/assets/js/main.js}"></script>
<!-- JavaScript pour afficher le formulaire de nouvelle catégorie si nécessaire -->
<script th:inline="javascript">
    $(document).ready(function() {
        $('#categorie').change(function() {
            console.log("Categorie Change detected");
            if ($(this).val() === 'new') {
                $('#new-form-categorie').show();
            } else {
                $('#new-form-categorie').hide();
            }
        });
        $('#auteur').change(function() {
            console.log("Auteur Change detected");
            if ($(this).val() === 'new') {
                $('#new-author-form').show();
            } else {
                $('#new-author-form').hide();
            }
        });

    });
    //set current date to input date #datePublication
    var today = new Date().toISOString().split('T')[0];
    document.getElementById('datePublication').value = today;


    document.getElementById('image').onchange = function (e) {
        var reader = new FileReader();
        reader.onload = function () {
            var preview = document.getElementById('imagePreview');
            preview.src = reader.result;
            preview.style.display = 'block';
        };
        reader.readAsDataURL(this.files[0]);
    };
</script>
</body>

</html>