<div class="col-4 card rounded-5 mb-4 box-shadow" th:fragment="items">
<!--    <img th:if="${livre.image != null}" th:src="${livre.image.url}"-->
<!--         class="card-img-top img-fluid" alt="Image du livre">-->

    <img th:unless="${livre.image != null}" src="https://ultimatecourses.com/assets/ebooks/nestjs-restful-crud-api-727998c7f01f9e59731d6f4d0b4d5a85425a297e3b873ee8299e5e7bb8acaafd.png"
         class="card-img-top img-fluid" alt="Image du livre">
    <img src="https://ultimatecourses.com/assets/ebooks/nestjs-restful-crud-api-727998c7f01f9e59731d6f4d0b4d5a85425a297e3b873ee8299e5e7bb8acaafd.png"
         class="card-img-top img-fluid" alt="Image du livre">

    <div class="card-body">
        <p class="card-text">
            <span>Titre:</span>
            <span th:text="${livre.titre}"></span>
        </p>
        <p class="card-text" th:text="${livre.auteur.nom}"></p> <!-- Assurez-vous d'accéder correctement au nom de l'auteur -->

        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a th:href="@{/livres/{id}(id=${livre.id})}" class="btn btn-sm btn-outline-secondary">En Sqvoir Plus</a>
            </div>

            <div th:if="${livre.estDisponible()}">
                <p class="text-success">Disponible</p>
            </div>

            <div th:unless="${livre.estDisponible()}">
                <p class="text-danger">Non disponible</p>
            </div>
        </div>
    </div>
</div>