<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<title>Library Management</title>
<body>
<header class="p-3 bg-dark text-white" th:replace="fragments/header::header"></header>
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-4">Liste des Livres</h1>
                <p class="lead">Explorez notre collection et découvrez des mondes à travers les pages.</p>
            </div>
        </div>
    </div>
    <div class="row" th:if="${livres.isEmpty()}">
        <h2 class="text-info">Aucun livre en base de données</h2>
    </div>
    <div th:if="${livres != null }">
        <div class="row">
            <div th:each="livre : ${livres}" class="col-3">
                <div class=" card  my-5 box-shadow">
                    <img th:src="@{/images/download/{filename}(filename=${livre.getImage().getName()})}"
                         class="card-img-top img-fluid" alt="Image du livre">
                    <div class="card-body">
                        <p class="card-text">
                            <span>Titre:</span>
                            <span th:text="${livre.titre}"></span>
                        </p>
                        <p class="card-text" th:text="${livre.auteur.nom}"></p> <!-- Assurez-vous d'accéder correctement au nom de l'auteur -->

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a th:href="@{/livre/{id}(id=${livre.id})}" class="btn btn-primary">En Savoir Plus</a>
                            </div>

                            <div th:if="${livre.estDisponible()}">
                                <p class="text-success">Disponible</p>
                            </div>

                            <div th:unless="${livre.estDisponible()}">
                                <p class="text-danger">Non disponible</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--        pagination &ndash;&gt;-->
    <div class="row">
        <div class="col-4 mx-auto">
            <nav aria-label="Page navigation">
                <ul class="pagination ">
                    <li th:each="i : ${#numbers.sequence(1, totalPages)}" th:classappend="${i == currentPage} ? 'active' : ''" class="page-item">
                        <a th:href="@{/livres(pageNo=${i})}" class="page-link" th:text="${i}"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>