<aside th:fragment="sidebar" id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-target="#emprunt-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-book-half"></i><span>Emprunt</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="emprunt-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li><a href="/admin/emprunt/livres">Emprunter un livre</a></li>
                <li><a href="/admin/emprunts">Liste des Emprunts</a></li>
                <li><a href="/admin/emprunts/retour">Liste des Retours Emprunts</a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-target="#livres-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-book"></i><span>Livres</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="livres-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li><a href="/admin/livres">Liste des Livres</a></li>
                <li><a href="/admin/livres/add">Ajouter un Livre</a></li>
            </ul>
        </li>
<!--        categorie-->
        <li class="nav-item">
            <a class="nav-link" data-bs-target="#categories-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-book"></i><span>Categories</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="categories-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li><a href="/admin/categories">Liste des Categories</a></li>
                <li><a href="/admin/categorie/add">Ajouter une Categorie</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-target="#auteurs-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-pen"></i><span>Auteurs</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="auteurs-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li><a href="/admin/auteurs">Liste des Auteurs</a></li>
                <li><a href="/admin/auteur/add">Ajouter un Auteur</a></li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-bs-target="#utilisateurs-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-person"></i><span>Utilisateurs</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="utilisateurs-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li><a href="/admin/utilisateurs-manager">Liste des Utilisateurs</a></li>
                <li><a href="/admin/utilisateur/add">Ajouter un Utilisateur</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-target="#reglement-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-cash-coin"></i><span>Reglement</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="reglement-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li><a href="/admin/infos-manager">Gestion des infos - reglements</a></li>
            </ul>
        </li>
    </ul>
</aside>