<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<aside id="sidebar" class="sidebar" th:fragment="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link " href="/admin">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link" href="/admin/livres-manager">
                <i class="bi bi-book"></i>
                <span>Gestion des Livres</span>
            </a>
        </li><!-- End Gestion des Livres Nav -->

        <li class="nav-item">
            <a class="nav-link" href="/admin/auteurs-manager">
                <i class="bi bi-person"></i>
                <span>Gestion des Auteurs</span>
            </a>
        </li><!-- End Gestion des Auteurs Nav -->
        <li class="nav-item">
            <a class="nav-link" href="/admin/emprunts">
                <i class="bi bi-arrow-right-circle"></i>
                <span>Emprunts</span>
            </a>
        </li><!-- End Emprunts Nav -->

        <li class="nav-item">
            <a class="nav-link" href="/admin/retours">
                <i class="bi bi-arrow-left-circle"></i>
                <span>Retours</span>
            </a>
        </li><!-- End Retours Nav -->

        <li class="nav-item">
            <a class="nav-link" href="/admin/penalites">
                <i class="bi bi-exclamation-circle"></i>
                <span>Pénalités</span>
            </a>
        </li><!-- End Pénalités Nav -->

        <li class="nav-item">
            <a class="nav-link" href="/admin/utilisateurs">
                <i class="bi bi-people"></i>
                <span>Utilisateurs</span>
            </a>
        </li><!-- End Utilisateurs Nav -->

        <li class="nav-item">
            <a class="nav-link" href="#modifierReglement">
                <i class="bi bi-gear"></i>
                <span>Modifier le Règlement</span>
            </a>
        </li><!-- End Modifier le Règlement Nav -->
    </ul>
</aside>

<!-- Reste du contenu de votre page -->

</body>
</html>
