<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <title>Library Management</title>
<body>
<footer class="bg-dark text-white mt-5" th:fragment="footer">
    <div class="container">
        <div class="row py-3">
            <div class="col-md-6">
                <h5>Contactez-nous</h5>
                <p>Email : contact@example.com</p>
                <p>Téléphone : +221 123456234 </p>
            </div>
            <div class="col-md-6">
                <h5>Suivez-nous</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="text-white">Facebook</a></li>
                    <li class="list-inline-item"><a href="#" class="text-white">Twitter</a></li>
                    <li class="list-inline-item"><a href="#" class="text-white">Instagram</a></li>
                </ul>
            </div>
        </div>
        <hr class="bg-light">
        <p class="text-center">&copy; 2024 Bibliothèque - Tous droits réservés</p>
    </div>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</footer>
</body>
</html>

