<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header class="p-4 bg-dark text-white mb-5 " th:fragment="header " >
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
<!--                image link https://www.google.com/url?sa=i&url=https%3A%2F%2Fcommons.wikimedia.org%2Fwiki%2FFile%3ALogo_Biblioth%25C3%25A8que_pour_Tous.svg&psig=AOvVaw1alZ6JhKlb3sH3c7Wl3KmS&ust=1709465723006000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCMDF3pu-1YQDFQAAAAAdAAAAABAR-->
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTP9nPd-s4N0HAVbEeAH3Z6CZGRuP8buHCrlcuP3Zpzsg&s" alt="Bibliothèque pour Tous" width="40" height="32">
            </a>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
                <li><a href="/livres" class="nav-link px-2 text-white">Livres</a></li>
                <li><a href="/reglements" class="nav-link px-2 text-white">Reglements</a></li>
                <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
            </ul>

                <form class="col-12 col-lg-auto ms-auto mb-3 mb-lg-0 ">
                    <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
                </form>
                <div class="text-end ms-auto ">
                    <button type="button" class="btn btn-outline-light me-2">Login</button>
                    <button type="button" class="btn btn-warning">Sign-up</button>
                </div>

        </div>
    </div>
</header>
</body>
</html>
