<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <h2 class="display-4">Bienvenue à la Bibliothèque</h2>
            <p class="lead">
                Bienvenue sur notre plateforme de gestion de bibliothèque en ligne. Nous mettons à votre disposition une vaste collection de livres couvrant divers domaines de la connaissance. Vous trouverez également une collection spéciale pour les développeurs, comprenant des livres sur Java, JavaScript, TypeScript, PHP, Spring Boot et bien d'autres.
            </p>
            <p>
                Notre plateforme est développée en interne et utilise des technologies modernes telles que Spring Boot pour le backend, Thymeleaf pour les templates HTML et Bootstrap pour le design.
            </p>
            <p>
                Nous sommes fiers de notre application et de la manière dont elle contribue à gérer efficacement notre bibliothèque. Nous espérons que vous apprécierez de l'utiliser autant que nous avons apprécié de la développer.
            </p>
            <p>
                Développé par [Nom du développeur] et l'équipe de [Nom de l'entreprise].
            </p>
        </div>
        <div class="col-md-4">
            <img th:src="@{/biblio_book.jpg}" alt="Bibliothèque" class="img-fluid rounded">
        </div>
    </div>


</div>

<div th:replace="fragments/footer :: footer"></div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>