<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <title>Library Management</title>
<body>
<header class="p-3 bg-dark text-white" th:replace="fragments/header :: header">
</header>
<div class="container mt-5">
    <div class="alert alert-primary text-center mt-5" role="alert">
        <h4 class="alert-heading">Heure et Date</h4>
        <p>Il est actuellement <span th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy HH:mm')}">Date et heure</span></p>
        <hr>
        <h1 th:text="${message}">
        </h1>
        <p class="mb-0">La bibliothèque est ouverte du lundi au vendredi de 8h à 18h et le samedi de 9h à 13h.</p>
    </div>
<!--    carousel-->
    <div class="row mt-5">
        <div class="col">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img th:src="@{/biblio1.jpg}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                //image of book
                <img th:src="@{/biblio2.jpg}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img th:src="@{/biblio3.jpg}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

        </div>
    </div>

    <!--    end carousel-->

    <!-- Section des livres en vedette -->
    <div class="row mt-2">
        <div class="col">
            <h2 class="text-center">Livres en Vedette</h2>
        </div>
    </div>
    <div class="row mb-5 mt-2" >
        <div class="col-md-4" th:each="livre : ${topEmprunteLivres}">
            <div class="card">
                <img th:src="@{/images/download/{filename}(filename=${livre.getImage().getName()})}" class="card-img-top" alt="Livre 1">
                <div class="card-body">
                    <h5 class="card-title
                    " th:text="${livre.getTitre()}">Livre 1</h5>
                    <p class="card-text" th:text="${livre.getCategorie().getNom()}">Découvrez ce livre captivant.</p>
                    <p class="card-text" th:text="${livre.getAuteur().getNomComplet()}">Découvrez ce livre captivant.</p>
                    <a th:href="@{|/livre/${livre.id}|}" class="btn btn-primary">En savoir plus</a>
                </div>
        </div>
<!--        <div class="col-md-4">-->
<!--            <div class="card">-->
<!--                <img src="https://picsum.photos/601/400" class="card-img-top" alt="Livre 2">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">Aventures Inoubliables</h5>-->
<!--                    <p class="card-text">Plongez-vous dans des aventures inoubliables avec ce livre captivant.</p>-->
<!--                    <a href="#" class="btn btn-primary">En savoir plus</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>

</div>

<div th:replace="fragments/footer :: footer"></div>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>

</html>