<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4 mx-auto">
            <form class="shadow p-3 mb-5 bg-body rounded">
                <p class="text-center mb-4">
                    <img class="img-thumbnail" th:src="@{/logo.png}" alt="Biblitheque Logo" width="80">
                    <span class="h3">Bibliotheque HK</span>
                </p>
                <h1 class="h4 mb-4 text-center">
                    Créer un compte
                </h1>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="fullName" placeholder="Nom complet">
                    <label for="fullName">Nom complet</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" placeholder="Adresse e-mail">
                    <label for="email">Adresse e-mail</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" placeholder="Mot de passe">
                    <label for="password">Mot de passe</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">S'inscrire</button>
                <div class="text-center">
                    <p class="small">Déjà un compte? <a th:href="@{/login}">Se connecter</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>